In [5]:
# Create a dictionary with 3 fruits and their prices. Print the price of one fruit.
fruits = {'apple': 100, 'orange' : 150, 'mango': 200}
print('price of mango:',fruits['mango'])

price of mango: 200

In [15]:
students = {'ali':800, 'ahmed': 850, 'azan': 900}
print("Student Names:",students.keys())

Student Names: dict_keys(['ali', 'ahmed', 'azan'])

In [4]:
countries = { "Pakistan": "Islamabad","Japan": "Tokyo","Germany": "Berlin","France": "Paris","Canada": "Ottawa"}
country = input("Enter a country name: ")

if country in countries:
    print(f"The capital of {country} is {countries[country]}")
else:
    print("Country not found in the list.")

Enter a country name:  Germany

The capital of Germany is Berlin

In [7]:
 # square of 5 num
squares = {}

for num in range(1, 6):
    squares[num] = num * num

print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
person = {"name": "Ali", "age": 25, "city": "Lahore"}
person["city"] = "Karachi"

print(person)

{'name': 'Ali', 'age': 25, 'city': 'Karachi'}

In [9]:
store = {"Milk": 10,"Bread": 25,"Eggs": 60}
store["Butter"] = 15

print(store)

{'Milk': 10, 'Bread': 25, 'Eggs': 60, 'Butter': 15}

In [14]:
# student marks
marks = {"Ayesha": 88,"Bilal": 90,"Danish": 70,"Farah": 99,"Hassan": 82}

highest_student = max(marks, key=marks.get)

print(f"student with highest marks {highest_student} {marks[highest_student]}")

student with highest marks Farah 99

In [20]:
students = {"Ali": {"age": 20, "grade": "A"},"Sara": {"age": 22, "grade": "B"}}

print("Grades of all students:")
for name, info in students.items():
    print(name, ":", info["grade"])

Grades of all students:
Ali : A
Sara : B

In [21]:
person = {"name": "Ayesha", "age": 21, "city": "Lahore"}
person.pop("city")

print(person)

{'name': 'Ayesha', 'age': 21}